
/* --------------Variables-------------- */
:root {
    --color-principal: #2F27CE; 
    --color-secundario: #DEDCFF;
    --background: #021526;
    --color-accent: #433BFF;
    --color-comillas: #BB7300;
    --texto: #FFFFFF;
    --circle-size: 200vmax;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Anek Telugu"; /*sans-serif */
    src: url('assets/fonts/AnekTelugu-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Nunito"; /*sans-serif */
    src: url('assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Nova Flat"; /* system-ui */
    src: url('assets/fonts/NovaFlat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal; 
}
@font-face {
    font-family: "Anonymous Pro"; /* monospace */
    src: url('assets/fonts/AnonymousPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Bungee"; /* cursive */
    src: url('assets/fonts/Bungee-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Staatliches";
    src: url('assets/fonts/Staatliches-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* -------------Variables-------------- */

/* -------------Nav-------------- */
* {
    box-sizing:border-box;
    margin:0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--texto);
}
img {
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
}

body {
    background-color: var(--background);
    width:100vw;
    height:100vh;
    overflow-x: hidden;
}
main{
    overflow: hidden;
}

.homepage{
    font-size: clamp(2rem, 5vw, 3.75rem);
    font-family: "Nova Flat", sans-serif;
    color: var(--texto);
}

header {
    position:fixed;
    top:0;
    display: flex;
    width: 100%;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    background: var(--background);
    box-shadow: 0px -20px 33px var(--color-accent);
    z-index: 10000000;
    /*border-bottom: 1px solid var(--color-accent);*/
}

.nav__ul{
    display: flex;
    gap: min(30px, 3vw);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--texto);
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-family: "Anek Telugu", sans-serif;
}
.nav__li{
    padding: 5px 10px 0 10px; /* Solucinar de forma permanente */
    position: relative;
}
.nav__li a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__li--btn {
    background: linear-gradient(to right, var(--color-accent), var(--color-principal));
    color: var(--texto);
    border-radius: 20px;
    box-shadow: 0px 0px 6px var(--color-accent);
    transition: transform .3s ease;
}
.nav__li::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: var(--color-accent);
    bottom: 0;
    left: 20%;
    transition: width 0.3s ease, left 0.3s ease;
}
.nav__li:hover::before {
    width: 100%;
    left: 0;
}
.nav__li--btn::before {
    content: none;
}

.nav__li--btn:hover {
    transform: scale(1.05);
}

@media (width < 768px) {
    header {
        width:65%;
        margin-left: 50%;
        margin-top: 40px;
        transform: translateX(-50%);
        border-radius: 60px;
        box-shadow: 0px 0px 6px #dedcff83;
        backdrop-filter: blur(200px);
    }
    .homepage {
        font-size: clamp(1.5rem, 5vw, 3rem);
    }
    nav {
        display: none;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #021322;
        z-index: 100000000;
        transform: translateY(-40px);
    }
    
    nav.nav__open{
        display: block;
    }
    .nav__ul{
        width: 100%;
        flex-direction: column;
        margin-top: 150px;
        padding:0;
        font-size: clamp(1.5rem, 4vw, 1.75rem);
        text-transform: uppercase;
    }
    .nav__li--btn{
        width: 60%;
    }
    .nav__hamburger{ /* Arreglar la x */
        height:28px;
        width: clamp(30px, 8vw, 60px);
        z-index: 1000000000;
        position: relative;
    }
    .nav__hamburger-bar{
        display: block;
        width: clamp(30px, 8vw, 60px);
        height: max(3px, .8vw);
        border-radius: 50px;
        background-color: var(--texto);
        color: var(--texto);
        transform-origin: center;
        transition: transform 0.3s ease, opacity 0.3s ease, top 0.4s ease;
        position: absolute;
    }
    .nav__hamburger-bar:nth-child(1) {
        transform: rotate(0deg);
        top:0;
    }
    .nav__hamburger-bar:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }
    .nav__hamburger-bar:nth-child(3) {
        top: 100%;
        transform: translateY(-100%)
    }
    .nav__hamburger.open{
        position: absolute;
    }
    .nav__hamburger.open .nav__hamburger-bar:nth-child(1) {
        transform: rotate(45deg);
        top: 50%;
    }
    .nav__hamburger.open .nav__hamburger-bar:nth-child(2) {
        opacity: 0;
    }
    .nav__hamburger.open .nav__hamburger-bar:nth-child(3) {
        transform: rotate(-45deg);
        top: 50%;
    }
}

/* -------------/Nav-------------- */
/* -------------Inicio-------------- */

.inicio{
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    margin-bottom: 200px;
}
.inicio__grid{
    display: grid;
    grid-template-columns: 2.5fr 1fr 80px;
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    height: 100%;
}
.inicio__texto{
    grid-column: 1 / 2;
    grid-row: 2 / 7;
    width:100%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    border: 4.5px solid var(--color-secundario);
    border-left: none;
    border-right: none;
}
.inicio__titulo{
    font-size: clamp(1.5rem, 10vw, 72px);
    font-family: "Nova Flat", sans-serif;
    color: var(--texto);
    letter-spacing: 0.06em;
}
.inicio__p{
    font-size: clamp(1rem, 3vw, 2.25rem);
    font-family: "Anonymous Pro", monospace;
    color: var(--color-accent);
    margin-top: 20px;
}
.inicio__span{
    color: var(--texto);
    font-family: "Staatliches", sans-serif;
    letter-spacing: 12%;
}
.inicio__btn{
    background-color: #03223D;
    width: max(65%, 300px);
    height: calc(1.5em + 1vw);
    color: var(--texto);
    border-radius: 20px;
    border: 1px solid #2F27CE;
    box-shadow: 0px 0px 30px #2F27CE;
    font-family: "Anonimous Pro", monospace;
    font-size: clamp(1rem, 2vw, 1.25rem);
    cursor: pointer;
}
.inicio__cubos{
    grid-column: 2 / 3;
    grid-row: 2 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    height: 100%;
    padding: 0px 20px;
    border: 4.5px solid var(--color-secundario);
    gap: 15vh;
    
}
.inicio__linea1{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width:100%;
    height: 100%;
    border: 4.5px solid var(--color-secundario);
    border-bottom: none;
    border-top:none;
}
.inicio__linea2{
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    width:100%;
    height: 86%;
    border: 4.5px solid var(--color-secundario);
    border-bottom: none;
    border-top: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.inicio__linea3{
    grid-column: 3 / 4;
    grid-row: 2 / 7;
    width: 100%;
    height: 100%;
    border: 4.5px solid var(--color-secundario);
    border-left: none;
    border-right: none;
}
.flecha{
    display: none;
}
.cubos--pequeños{
    display: flex;
    flex-direction: row;
    gap: 8vw;
}
.cubos {
    transform-style: preserve-3d;
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    animation: animacion__cubo 4s infinite ease 1s;
    z-index: -1;
    position: relative;
    transition: top .5s ease;
}


.cubo1{
    width: 100px;
    height: 100px;
}
.cubo2{
    width: 70px;
    height: 70px;
}

.cubo3{
    width: 70px;
    height: 70px;
    bottom: 40px;
}

.cubo4{
    display: none;
    width: 120px;
    height: 120px;
}

.cubos > div {
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid var(--color-principal);
}


.cubos div:nth-of-type(1) {
    transform: translateZ(-35px) rotateY(180deg);
}

.cubos div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.cubos div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.cubos div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.cubos div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.cubos div:nth-of-type(6) {
    transform: translateZ(35px);
}
.cubos.cubo1 div:nth-of-type(1){
    transform: translateZ(-50px) rotateY(180deg);
}
.cubos.cubo1 div:nth-of-type(6){
    transform: translateZ(50px);
}

.semicirculo{
    display:none;
    width: 250px;
    height: 500px;
    background-color: var(--color-principal);
    border-radius: 500px;
    position: absolute;
    top: -10%;
    right: 95%;
    z-index: -1;
    }

.semicirculo--der{
    display:none;
    width: 250px;
    height: 500px;
    background-color: var(--color-principal);
    border-radius: 500px;
    position: absolute;
    top: 50%;
    left: 94%;
    z-index: -1;
}
    
@keyframes animacion__cubo {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}

@media(width < 768px) {

    .inicio{
        margin-bottom: 130px;
    }
    .inicio__linea1, .inicio__linea2, .inicio__linea3, .inicio__texto, .inicio__titulo, .inicio__cubos{
        border: none;
    }
    .inicio__titulo{
        display: none;
    }
    .inicio__grid{
        position: relative;
        grid-template-columns: 100vw;
        
    }
    .inicio__titulo{
    font-size: clamp(2.5rem, 7.5vw, 72px);
    
    }
    .inicio__span{
        font-size: clamp(1.75rem, 5.25vw, 2.25rem);
    }
    .inicio__btn{
        font-size: clamp(1.25rem, 2.25vw, 2rem);
        height: clamp(1.75rem, 20vw, 2rem);
    }
    .inicio__cubos{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .cubo1{
        display: none;
    }
    .cubo2{
        top: -5%;
        right: 30px;
    }
    .cubo3{
        top: 35px;
        left: 8vw;
    }
    .inicio__texto{
        grid-row: 4 / 6;
        grid-column: 1 / 2;
        padding: 20px;
        position: relative;
        top: -50px;
        width: fit-content;
        margin: auto;
    }
    .inicio__p{
    font-size: clamp(1rem, 10vh, 2.25rem);
    max-width: 70vw;
    }
    .semicirculo, .semicirculo--der{
        display: block;
    }

    .cubo4{
        grid-row: 6 / 8;
        grid-column: 1 / 2;
        display: block;
        margin: auto;
        position: relative;
        top: -20px;
        right: 100px;
    }
    .cubos.cubo4 div:nth-of-type(1){
    transform: translateZ(-60px) rotateY(180deg);
    }
    .cubos.cubo4 div:nth-of-type(6){
        transform: translateZ(60px);
    }
    .flecha {
        display: block;
        grid-row: 8 / 8;
        grid-column: 1 / 2;
        margin: auto;
        width: 25px;
        cursor: pointer;
        transition: top .3s ease, transform .3s ease-out;
        position: relative;
        top: 0;
    }
    
    .flecha:hover{
        transform: scale(1.1);
        top: 10px;
    }
    .flecha:active{
        transform: scale(1.1);
        top: 50px;
    }
}

/* ----------------------/Inicio--------------------- */

/*----------------------Nosotros---------------------*/

.nosotros{
    height: 90vh;
    width: 100%;
    background-image: radial-gradient(white 1px, transparent 2px);
    background-size: 20px 20px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.nosotros::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    background-image: linear-gradient(to bottom, var(--background), transparent, var(--background));
}

.nosotros__card{
    background-color: #042849;
    border-radius: 20px;
    margin: auto;
    max-width: min(70%, 600px);
    height: min(70%, 500px);
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: var(--texto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: min(10%, 60px);
    position: relative;
    box-shadow: 15px 30px 0px #010e1aa5;
    
}

.nosotros__card h2 {
    width: 100%;
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    letter-spacing: 0.06em;
}

.nosotros__card p {
    font-size: clamp(1.25rem, 1.75vw, 2.25rem);
    line-height: 1.4;
    
}
.coddit__nombre{
    color: #f19603;
}
.nosotros__card::before {
    content: '“';
    position: absolute;
    top:0;
    left: 0;
    margin:0;
    font-size: 120px;
    height: 100px;
    margin-left: 30px;
    color: var(--color-comillas);
}
.nosotros__card::after {
    content: '”';
    position: absolute;
    bottom:0;
    right: 0;
    margin-right: 30px;
    font-size: 120px;
    height: 100px;
    color: var(--color-comillas);
}
.semicirculo--nosotros{
    display:none;
    width: 250px;
    height: 500px;
    background-color: var(--color-principal);
    border-radius: 500px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 85%;
    z-index: -1;
    }

@media(width < 768px){
    .nosotros{
        background-image: none;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nosotros__card{
        max-width: 90%;
        height: 50vh;
        background: #03182B65; 
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 5px 3px 10px #010e1aa5;
    }
    .semicirculo--nosotros{
        display: block;
    }
    .nosotros__card h2 {
        font-size: clamp(1.75rem, 2.25vw, 2.25rem);
    }
    .nosotros__card p {
        font-size: clamp(1.25rem, 2vw, 1.5rem);
    }
}



/* -------------/Nosotros-------------- */

/*--------------No es solo una web---------------*/

.no-web{
    width: 100vw;
    height: 90vh;
    background-color: var(--background);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forma1{
    width: 300px;
    height: 600px;
    position: absolute;
    left: 10px;
    transform: translate(-45%, -20%);
}
.forma2{
    width: 300px;
    height: 600px;
    position: absolute;
    right: 10px;
    transform: translate(45%, 20%);
    bottom: 0px;
}
.textos-section3{
    display: flex; 
    flex-direction: column; 
    color: var(--texto);
    width: 50vw;
    margin-top: 40px;
    gap: 30px;
}
.titulo-no-web{
    font-size: clamp(2.5rem, 5.5vw, 3.75rem);
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    padding-bottom: 50px;
}
.una-web{
    font-weight: 100;
    font-style: italic;
}
.texto-no-web{
    font-size: clamp(1.25rem, 1.75vw, 2rem);
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    text-wrap: pretty;
}
.btn-no-web{
    width: 50%;
    height: clamp(1.75rem, 2vw, 2rem);
    color: var(--texto);
    background-color: var(--background);
    border: 1px solid var(--color-principal);
    border-radius: 30px;
    font-family: "Anonymous Pro", monospace;
    font-size: clamp(1.25rem, 2vw, 1.75rem);
    cursor: pointer;
}
.btn-no-web:hover{
    background-color: var(--color-principal);
    color: var(--texto);
    transition: background-color .4s ease-in-out;
}
.mundo-nuevo{
    display: none;
    position: absolute;
    fill: #a09f9f10;
    width: 250px;
    height: 250px;
    top: 50%;
    transform: translateY(-50%);
    left: -140px;
}

@media(width < 768px){
    .forma1, .forma2{
        display: none;
    }
    .no-web{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    .mundo-nuevo{
        display: block;
    }
    .titulo-no-web{
    font-size: clamp(2.5rem, 4.5vw, 3.5rem);
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    padding-bottom: 50px;
    }
    .texto-no-web{
    font-size: clamp(1.5rem, 1.5vw, 2.25rem);
    }
    .textos-section3{
    display: flex; 
    flex-direction: column;
    color: var(--texto);
    width: 80vw;
    gap: 30px;
    }   
    .btn-no-web{
        width: 60%;
        height: clamp(2.5rem, 2.25vw, 2rem);
        font-size: clamp(1.25rem, 2vw, 1.75rem);
    }
    .una-web{
        border-bottom: 3px solid var(--color-accent);
        border-radius: 3px;
    }

}


/*--------------exito---------------*/

.exito{
    margin-top: 200px;
    width: 100vw;
    max-height: 80vh;
    padding: 50px 0 90px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exito__img{
    width: 70vw;
    max-width: 1000px;
}

.exito__p{
    font-size: clamp(1.5rem, 4vw, 2rem);
    font-family: "Nunito", sans-serif;
    color: var(--color-secundario);
    width: 80vw;
    text-align: center;
    text-wrap: balance;
    line-height: 2.25;
    max-width: 1200px;
    letter-spacing: 0.02em;
}
.exito__impulsar{
    font-family: 'Bungee';
    padding: 10px 25px;
    background-color: var(--color-accent);
    border-radius: 500px;
}
.tachado{
    text-decoration: line-through var(--color-secundario);
}
.exito__coddit{
    border-bottom: 3px solid var(--color-accent);
    border-radius: 3px;
}

@media ( width < 768px){
    .exito{
        height: 60vh;
        background-image: radial-gradient(#ffffff2a 1px, transparent 2px);
        background-size: 40px 40px;
        margin: 0;
    }
    .exito__img{
        display:none;
    }
    .exito__p{
        width: 100vw;
        font-size: clamp(1rem, 1vw, 1.75rem);
    }
}

/*--------------proceso---------------*/

.proceso{
    width: 100vw;
    height: 100vh;
}
/* 
    Lista de tareas:
    0. Añadir animación a las sección de somos coddit. Al hacer hover que haga un efecto 3d segun la posición del ratón o ponerle otra animación.
    1. Quitar la barra del overflow en y del nav en el responsive.
    2. Arreglar que cuando se da click en el nav de móvil te lleva a la sección de inicio
    3. Hacer la página accesible, añadir etiquetas aria y roles.
    4. Poner los enlaces de cada botón, flecha y cosas.
    5. Arreglar bugs con el responsive --> El semicirculo atraviesa otra sección en algunos diseños, el inicio hay que quitar los border y arreglar los cuadrados.


    Tareas finales
    0. Poner los textos definitivos.
    1. Arreglar bugs finales.

*/