
/* --------------Variables-------------- */
:root {
    --color-principal: #2F27CE;
    --color-secundario: #DEDCFF;
    --background: #021526;
    --color-accent: #433BFF;
    --color-comillas: #BB7300;
    --texto: #FFFFFF;
}
@font-face {
    font-family: "Anek Telugu"; /*sans-serif */
    src: url('assets/fonts/AnekTelugu-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Nunito"; /*sans-serif */
    src: url('assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Nova Flat"; /* system-ui */
    src: url('assets/fonts/NovaFlat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal; 
}
@font-face {
    font-family: "Anonymous Pro"; /* monospace */
    src: url('assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Bungee"; /* cursive */
    src: url('assets/fonts/Bungee-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Staatliches";
    src: url('assets/fonts/Staatliches-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* -------------Variables-------------- */

/* -------------Nav-------------- */
* {
    box-sizing:border-box;
    margin:0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--texto);
}
img {
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
}

body {
    background-color: var(--background);
    width:100vw;
    height:100vh;
}
.homepage{
    font-size: clamp(2rem, 5vw, 3.75rem);
    font-family: "Nova Flat", sans-serif;
    color: var(--texto);
}

header {
    position:fixed;
    top:0;
    display: flex;
    width: 100%;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
    background: var(--background);
}

.nav__ul{
    display: flex;
    gap: min(30px, 3vw);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--texto);
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-family: "Anek Telugu", sans-serif;
}
.nav__li{
    padding: 5px 10px 0 10px; /* Solucinar de forma permanente */
    position: relative;
}
.nav__li a{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.nav__li--btn {
    background: linear-gradient(to right, var(--color-accent), var(--color-principal));
    color: var(--texto);
    border-radius: 20px;
    box-shadow: 0px 0px 6px var(--color-accent);
    transition: transform .3s ease;
}
.nav__li::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    background-color: var(--color-accent);
    bottom: 0;
    left: 20%;
    transition: width 0.3s ease, left 0.3s ease;
}
.nav__li:hover::before {
    width: 100%;
    left: 0;
}
.nav__li--btn::before {
    content: none;
}

.nav__li--btn:hover {
    transform: scale(1.05);
}

@media (width < 768px) {
    header {
        width: 65%;
        margin-left: 50%;
        margin-top: 40px;
        transform: translateX(-50%);
        border-radius: 60px;
        box-shadow: 0px 0px 6px var(--texto);
    }
    .homepage {
        font-size: clamp(1.5rem, 6vw, 3rem);
    }
    
    nav {
        display: none;
        position: fixed;
        top: -100%;
        width: 100vw;
        height: 150vh;
        background-color: var(--color-accent);
        border: 1px solid var(--texto);
    }
    nav.nav__open{
        display: block;
    }
    .nav__ul{
        width: 100%;
        flex-direction: column;
        margin-top: 150px;
        padding:0;
        font-size: clamp(1.5rem, 4vw, 1.75rem);
        text-transform: uppercase;
    }
    .nav__li--btn{
        width: 60%;
    }
    .nav__hamburger{ /* Arreglar la x */
        display: flex;
        height:28px;
        justify-content: center;
        gap: 5px;
        align-items: center;
        flex-direction: column;
        z-index: 10000;
    }
    .nav__hamburger-bar{
        width: clamp(30px, 8vw, 60px);
        height: clamp(3px, .9vh, 6px);
        border-radius: 50px;
        background-color: var(--texto);
        color: var(--texto);
    }
    .nav__hamburger-bar {
        transition: all 0.3s ease;
    }
    .nav__hamburger.open{
        width: 28px;
        height: 28px;
    }
    .nav__hamburger-bar {
        transition: all 0.3s ease;
    }
    .nav__hamburger.open .nav__hamburger-bar:nth-child(1) {
        transform: rotate(45deg) translate(0.35em, 0.35em);
    }
    .nav__hamburger.open .nav__hamburger-bar:nth-child(2) {
        opacity: 0;
    }
    .nav__hamburger.open .nav__hamburger-bar:nth-child(3) {
        transform: rotate(-45deg) translate(0.35em, -0.35em);
    }
}

/* -------------Nav-------------- */
/* -------------Inicio-------------- */

.inicio{
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    overflow: hidden;
}
.inicio__grid{
    display: grid;
    grid-template-columns: 2.5fr 1fr 80px;
    grid-template-rows: repeat(7, 1fr);
    width: 100%;
    height: 100%;
}
.inicio__texto{
    grid-column: 1 / 2;
    grid-row: 2 / 7;
    width:100%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    border: 4.5px solid var(--color-secundario);
    border-left: none;
    border-right: none;
}
.inicio__titulo{
    font-size: clamp(2.5rem, 7.5vw, 72px);
    font-family: "Nova Flat", sans-serif;
    color: var(--texto);
    letter-spacing: 0.06em;
}
.inicio__p{
    font-size: clamp(1.5rem, 2vw, 2.25rem);
    font-family: "Anonymous Pro", monospace;
    color: var(--color-accent);
    margin-top: 20px;
}
.inicio__span{
    color: var(--texto);
    font-family: "Staatliches", sans-serif;
    letter-spacing: 12%;
}
.inicio__btn{
    background-color: #03223D;
    width: clamp(100px, 30vw, 100px);
    height: clamp(40px, 7vh, 100px);
    color: var(--texto);;
    border-radius: 20px;
    border: 1px solid #2F27CE;
    box-shadow: 0px 0px 30px #2F27CE;
    font-family: "Anonimous Pro", monospace;
    font-size: clamp(1rem, 2vw, 1.25rem);

}
.inicio__cubos{
    grid-column: 2 / 3;
    grid-row: 2 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    padding: 0px 20px;
    border: 4.5px solid var(--color-secundario);
}
.inicio__linea1{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width:100%;
    height: 100%;
    border: 4.5px solid var(--color-secundario);
    border-bottom: none;
    border-top:none;
}
.inicio__linea2{
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    width:100%;
    height: 86%;
    border: 4.5px solid var(--color-secundario);
    border-bottom: none;
    border-top: none;
}
.inicio__linea3{
    grid-column: 3 / 4;
    grid-row: 2 / 7;
    width:100%;
    height: 100%;
    border: 4.5px solid var(--color-secundario);
    border-left: none;
    border-right: none;
}

.inicio__cubos{
    display: flex;
    flex-direction: column;;
}


.cubo1{
    width: 120%;
    height: 120%;
}

.cubos--pequeños{
    display: flex;
    flex-direction: row;
}
.cubo2{
    width: 100%;
    height: 100%;
}

.cubo3{
    width: 110%;
    height: 110%;
    transform: translateY(max(-40%, -50px));
}
/* 
    Lista de tareas:
    0. 
    1. Perfilar el nav. Tanto en responsive tanto como en normal.
    2. Mejorar el cubo con la perspectiva adecuada y perfeccionar el cubo.
    3. Arreglar el putisimo boton de "Quiero saber más" que no se ve en responsive.




*/
/* -------------Inicio-------------- */